# -----------------------------------------------------------------------------
# 依存ライブラリ（巨大なフォルダのため絶対にGitに入れない）
# -----------------------------------------------------------------------------
node_modules/
dist/
.env

# -----------------------------------------------------------------------------
# 各パッケージのビルド生成物（プログラムから自動生成されるため不要）
# -----------------------------------------------------------------------------
client/dist/
server/dist/

# -----------------------------------------------------------------------------
# ログファイルやキャッシュ
# -----------------------------------------------------------------------------
*.log
.npm/
.eslintcache

# -----------------------------------------------------------------------------
# OS固有のゴミファイル
# -----------------------------------------------------------------------------
.DS_Store
Thumbs.db